body {
  background-image: url(8_pic1.png);
}

div {
  background-color: white;
  border: 2px solid black;
  width: 960px;
  margin: auto;
  padding: 10px;
  display: grid;
 grid-template-columns: repeat(4, 1fr);

}

header {
  color: white;
  background-color: black;
/*  padding: 20px;*/
  font-family: Helvetica, sans-serif;
  font-style: normal;
  grid-column: span 4;
}

h2 {
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
/*  padding:*/
}

.boldtext {
  font-weight: bold;
}

nav {
  /*float: left;
  padding-right: 10px*/
  grid-column: span 1;
}

ul {
  list-style-type: none;
padding: 0px;
}

li {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;

  list-style-type: none;
  width: 220px;
}

li:hover {
  background-color: maroon;
}

.links:hover {
  color: blue;
  text-decoration: underline;
  font-weight: normal;
}

.links{
  color: red;
  text-decoration: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

img {
  float: left;
  margin: 5px;
  width: 500px;
  border: 2px solid black;
  padding: 10px;
}

main {
/*  width: 720px;
  margin-left: 240px;*/
  grid-column: span 3;
}

p {
  font-family: Georgia;
}

footer {
  background-color: red;
  font-style: italic;
/*  padding: 10px;
  padding-left: 30px;*/
  border: 3px solid black;
  color: white;
  text-align:center;
  grid-column: span 4;
}
